@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.nav-brand,h1{
    font-family: 'Grand Hotel', cursive;
}

a{
    color: #000 !important;
}

.myCard{
    margin-top: 30px;
}
.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
}
.form-control{
    margin-bottom: 10px;
}